body {
	height: 100vh;
	background-image: url("./assets/plantilla\ historia\ 1.jpg");
	background-attachment: fixed;
	background-size: contain;
	background-repeat: contain;
}

.title {
	font-family: "Permanent Marker";
	font-size: 25px;
	margin-bottom: 45px;
}

@media (min-width: 768px) {
	.title {
		font-size: 35px;
	}
}
