.rss-feed {
	border-radius: 15px 15px 0px 0px;
	background-color: white;
	padding: 25px;
}

.dock {
	height: 5px;
	width: 100px;
	background-color: rgba(143, 143, 143, 0.671);
	border-radius: 50px;
	margin-bottom: 20px;
}

.rss-btn {
	font-size: 15px;
	color: white;
	background-color: #0f0f0f;
}

.rss-btn:hover {
	color: white;
	background-color: #ea5e61;
}

.spinner-border {
	margin-bottom: 45px;
}

@media (min-width: 769px) {
	.rss-btn {
		font-size: 1.25rem;
	}
}
