/* .hero {
	background-image: url("../../../assets/plantilla\ historia\ 1.jpg");
	background-size: contain;
	background-repeat: contain;
} */
.logo-container {
	margin-top: -50px;
}

.character-container {
	margin-top: -75px;
}

.character-img {
	height: auto;
	width: 70%;
}
